/*
0 - 600px : Phone
600px - 900px : Tablet Portrait
900px - 1200px : Tablet Landscape
[1200px - 1800px] : Normal desktop Screen
1800PX - + : Big Desktop

 
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop


Note 1em = 16px
*/
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem); }
    80% {
      transform: translateX(1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translateX(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(10rem); }
    100% {
      opacity: 1;
      transform: translateY(0); } }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit; }
  
  html {
    font-size: 62.5%;
  }
    @media only screen and (min-width: 112.5em) {
      html {
        font-size: 75%; } }
    @media only screen and (max-width: 75em) {
      html {
        font-size: 56.25%; } }
    @media only screen and (max-width: 56.25em) {
      html {
        font-size: 50%; } }
  
  body {
    box-sizing: border-box; }
  
  body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: white; }

    .u-center-text {
        text-align: center !important; }
    .u-black {
        color: black; }

    .u-hash {
        color: rgb(108, 106, 106); }

    .u-tomato {
        color: tomato }

    .u-primary {
        color: #4FC0EC; }

    .u-w-80 {
        width: 80%;
    }
    .u-w-50 {
        width: 50%;
    }
      
    .u-bold {
    font-weight: 700; }

    .u-fz-medium {
        font-size: 5rem; }

    .u-fz-small-snr {
        font-size: 2rem; }
    .u-fz-small {
        font-size: 1.7rem; }
  
    .u-margin-bottom-xsmall {
        margin-bottom: .8rem !important; }
    .u-margin-bottom-small {
    margin-bottom: 1.5rem !important; }
    
    .u-margin-bottom-medium {
    margin-bottom: 3.5rem !important; }
    @media only screen and (max-width: 56.25em) {
        .u-w-50 {
            width: 90%;
        }
        .u-margin-bottom-medium {
        margin-bottom: 3rem !important; } }
    
    .u-margin-bottom-big {
    margin-bottom: 8rem !important; }
    @media only screen and (max-width: 56.25em) {
        .u-margin-bottom-big {
        margin-bottom: 5rem !important; } }
    
    .u-padding-bottom-small {
    padding-bottom: 1.5rem !important; }
    
    .u-padding-bottom-medium {
    padding-bottom: 4rem !important; }
    
    .u-padding-bottom-big {
    padding-bottom: 8rem !important; }
    
    .u-margin-top-small {
    margin-top: 1.5rem !important; }
    
    .u-margin-top-medium {
    margin-top: 4rem !important; }
    
    .u-margin-top-big {
    margin-top: 8rem !important; }
    
    .u-margin-top-huge {
    margin-top: 10rem !important; }

    .u-gray {
        color: rgb(246, 246, 246); }

    .hero {
        height: 100vh;
        position: relative;
        /* background-image: li(to right, #7ed56f, #28b485); */
        background: radial-gradient(circle, rgba(240,110,96,1) 3%, rgba(255,255,255,1) 14%, rgba(89,187,228,1) 43%);
        background-size: cover;
        background-position: top; }
        .hero__text-box {
            position: absolute;
            top: 10%;
            left: 5%;
            z-index: 4;
       }

     .hero img {
        position: absolute;
        right: 0;
        bottom: 0;
        min-height: 80vh;
        max-width: 100vw;
        
     }
  
  .heading-primary {
    color: #fff;
    /* text-transform: uppercase; */
    backface-visibility: hidden;
    margin-bottom: 2rem; }
    .heading-primary--main {
      display: block;
      font-size: 7rem;
      font-weight: 800;
      /* letter-spacing: 1.5rem; */
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      /*  
         animation-delay: 2s; 
         animation-iteration-count: 3;
         */ }
      @media only screen and (max-width: 37.5em) {
        .heading-primary--main {
          letter-spacing: 1rem;
        line-height: 6rem; } }
    .heading-primary--sub {
      display: block;
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: -2rem;
      /* letter-spacing: 1.2rem; */
      animation: moveInRight 1s ease-out; }
      @media only screen and (max-width: 37.5em) {
        .heading-primary--sub {
            line-height: 3rem;
            margin-bottom: 1rem;
          letter-spacing: .8rem; } }

        .heading-primary--tet {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.7rem;
        /* letter-spacing: 1.2rem; */
        animation: moveInRight 1s ease-out; }
        @media only screen and (max-width: 37.5em) {
            .heading-primary--tet {
            line-height: 3rem; } }

    .section-gift {
        height: max-content;
        color: white;
        background-color: rgba(240,110,96,1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5rem;
    }

    .section-gift h3 {
        padding-top: 4rem;
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
    }

    .section-gift h2 {
        font-size: 8rem;
        text-align: center;
    }

    @media only screen and (max-width: 37.5em) {
        .section-gift h2 {
            font-size: 6rem;
            line-height: 6rem;
        } }

    hr {
        border-top: 3px solid white;
        width: 90%;
        margin: 2rem 0;
    }

    .section-gift .additional {
        width: 70%;
        text-align: center;
    }

    @media only screen and (max-width: 37.5em) {
        .section-gift .additional {
            width: 100%;
        } }

    .section-session {
        height: max-content;
        color: white;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
    }

    .success { margin-top: -2rem;}



    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 2rem;
        column-gap: 2rem;
        width: 100%;
    }

    .card .card-item {
        flex: 50%;
    }


    .card img {
        width: 100%;
    }

    .card img.mentor {
        width: 70%;
        height: 30%;
        border-radius: 40px;
    }

    @media only screen and (max-width: 37.5em) {
        .card {
            flex-direction: column;;
            row-gap: 6rem;
            column-gap: 6rem;
        }
    
        .card img.mentor {
            width: 90%;
            height: 40%;
            border-radius: 40px;
        }}

    .section-step {
        height: max-content;
        max-width: 100vw;
        padding: 5rem;
        background-image: url("../public/img/3 Phones BG.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .phones {
        margin: -10rem 0;
        max-width: 100vw;
    }

    .cta {
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 2rem;
        column-gap: 2rem;
        width: 60%;

    }

        @media only screen and (max-width: 37.5em) {
            .cta {
                width: 100%;
            } }
    

    .section-tutor {
        height: max-content;
        color: white;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem;
        
    }
    
    .section-tutor .tutor {
        line-height: 5rem;
        padding-top: 3rem;
    }
  
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    border: none;
    cursor: pointer; }
  
  .btn:hover, .btn:focus {
    outline: none;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .btn:hover::after, .btn:focus::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }
  
  .btn--tomato {
    background-color: tomato;
    border-radius: 3px;
    color: white; }
    .btn--tomato::after {
      background-color: tomato; }
  
  .btn--primary {
    background-color: #4FC0EC;
    border-radius: 3px;
    color: #fff; }
    .btn--primary::after {
      background-color: #4FC0EC; }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    z-index: -1; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  
  
  .footer {
    background-color: #121D45;
    color: white;
    min-height: 50vh;
    position: relative;
    width: 100%;
    

     }

     .footer .bg {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
        max-width: 100vw;
        
     }

     .footer .inner {
        display: flex;
        flex-direction: column;
        padding: 5%;
        padding-right: 0;
        align-items: start;
        justify-content: space-between;
        z-index: 200;
     }

     .footer .inner .main-text {
        font-size: 4rem;
        width: 50%;
        line-height: 5rem;
        z-index: 200;
        
     }

     .footer .sub-text {
        width: 50%;
        color: pink;
        z-index: 200;
     }

     .ft-content .ft-cta {
        z-index: 300;
     }

     @media only screen and (max-width: 37.5em) {

        .footer .sub-text {
            width: 90%;
         }
        .footer .inner {
            align-items: center;
         }
        .footer .inner .main-text {
            font-size: 4rem;
            width: 90%;
         }
        }

    .footer .social {
        z-index: 1000;
/*         display: flex;
        justify-content: start; */
        margin-top: auto;
        padding-left: 5%;
        padding-bottom: 3%;
    }

    .social * {
        height: 24px;
        width: 24px;
        margin: 2px;
        cursor: pointer;
    }

     @media only screen and (max-width: 37.5em) {
        .footer {
            text-align: center;
            flex-direction: column;
            align-items: center;
        }
    }


  

